<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zmień hasło - My Computer Service</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<div th:insert="header"></div>
<div th:insert="sidebar"></div>

<div class="form-box">
    <h1>Zmień hasło</h1>
    <form th:action="@{/changePassword}" th:object="${passwordForm}" method="post" enctype="multipart/form-data">
        <p>Aktualne hasło</p>
        <input type=password placeholder="Aktualne hasło" th:field="*{actualPassword}">
        <label th:if="${#fields.hasErrors('actualPassword')}" th:text="${#fields.errors('actualPassword').get(0)}"></label>

        <p>Nowe hasło</p>
        <input type=password placeholder="Nowe hasło" th:field="*{newPassword}">
        <label th:if="${#fields.hasErrors('newPassword')}" th:text="${#fields.errors('newPassword').get(0)}"></label>

        <p>Powtórz nowe hasło</p>
        <input type=password placeholder="Powtórz nowe hasło" th:field="*{repeatNewPassword}">
        <label th:if="${#fields.hasErrors('repeatNewPassword')}" th:text="${#fields.errors('repeatNewPassword').get(0)}"></label>

        <input type="submit" class="submit-btn" value="Potwierdź">
    </form>
</div>
</body>
</html>