<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje komputery - My Auto Service</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<div th:insert="header"></div>
<div th:insert="sidebar"></div>

<div class="content">
    <h1><span th:text="${computer.brand} + ' ' + ${computer.model}"  class="underline-span"></span></h1>
    <div class="computer-details">
        <div class="computer-details-img">
            <img th:if="${computer.photo != null}" th:src="@{'data:image/png;base64,'+ ${computer.generateBase64Image()}}" th:alt="${computer.brand} + ' ' + ${computer.model}" src="/no-photo-available.png" alt="">
            <img th:if="${computer.photo == null}" src="/no-photo-available.png" alt="">
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">Typ</span>:</label>
            <label th:text="${computer.type}" class="computer-details-label"></label>
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">Producent</span>:</label>
            <label th:text="${computer.brand}" class="computer-details-label"></label>
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">Model</span>:</label>
            <label th:text="${computer.model}" class="computer-details-label"></label>
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">Rok produkcji</span>:</label>
            <label th:text="${computer.yearOfProduction}" class="computer-details-label"></label>
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">System</span>:</label>
            <label th:text="${computer.operatingSystem}" class="computer-details-label"></label>
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">Procesor</span>:</label>
            <label th:text="${computer.processor}" class="computer-details-label"></label>
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">Karta graficzna</span>:</label>
            <label th:text="${computer.graphicsCard}" class="computer-details-label"></label>
        </div>
        <div class="computer-details-position">
            <label><span class="underline-span">Pamięć RAM</span>:</label>
            <label th:text="${computer.ramMemory}" class="computer-details-label"></label>
        </div>

        <div th:if="${!historicalDamages.isEmpty()}" class="computer-list">
            <h1><span class="underline-span" style="margin-right: 300px">Historia usterek</span></h1>
            <div th:each="d : ${historicalDamages}">
                <div class="computer-box">
                    <div class="computer-img">
                        <img th:if="${d.damagePhoto != null}" th:src="@{'data:image/png;base64,'+ ${d.generateBase64Image()}}" th:alt="${d.computer.brand} + ' ' + ${d.computer.model}" alt="" src="/no-photo-available.png">
                        <img th:if="${d.damagePhoto == null}" src="/no-photo-available.png" alt="">
                    </div>
                    <div class="computer-info">
                        <h6 th:text="${d.topic}"></h6>
                        <p th:text="${d.computer.brand} + ' ' + ${d.computer.model}"></p>
                        <div class="damage-status">
                            <div th:if="${d.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).CANNOT_BE_FIXED}">
                                <i style="color: red" class="fas fa-times-circle"></i><span>Usterka nie mogła zostać naprawiona</span>
                            </div>
                            <div th:if="${d.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).FIXED}">
                                <i style="color: green" class="fas fa-check-circle"></i><span>Usterka naprawiona</span>
                            </div>
                            <div th:if="${d.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).CANCELED_BY_CUSTOMER}">
                                <i style="color: red" class="fas fa-minus-circle"></i><span>Naprawa usterki została anulowana przez klienta</span>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/customer/computerDamages/{path}(path=${d.id})}" class="more_info_btn">
                        Więcej
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>