<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usterki - My Auto Service</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<div th:insert="header"></div>
<div th:insert="sidebar"></div>

<div class="content">
    <h1><span class="underline-span">Usterki</span></h1>
    <div class="computer-list">
        <h1 th:if="${!pendingDamages.isEmpty()}"><span class="underline-span">Oczekujące na akceptacje</span></h1>
        <div th:each="pd : ${pendingDamages}">
            <label class="error-label" th:if="${error != null and damage_id_error != null and damage_id_error == pd.id}" th:text="${error}"></label>
            <div class="computer-box">
                <div class="computer-img">
                    <img th:if="${pd.damagePhoto != null}" th:src="@{'data:image/png;base64,'+ ${pd.generateBase64Image()}}" th:alt="${pd.computer.brand} + ' ' + ${pd.computer.model}" alt="" src="/no-photo-available.png">
                    <img th:if="${pd.damagePhoto == null}" src="/no-photo-available.png" alt="">
                </div>
                <div class="computer-info">
                    <h6 th:text="${pd.topic}"></h6>
                    <p th:text="${pd.computer.brand} + ' ' + ${pd.computer.model}"></p>
                    <div class="damage-status">
                        <div th:if="${pd.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).REPORTED}">
                            <i class="fas fa-exclamation-circle"></i><span>Usterka zgłoszona</span>
                        </div>
                        <div th:if="${pd.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).ASSIGNED_TO_REPAIRER}">
                            <i style="color: dodgerblue" class="fas fa-exclamation-circle"></i><span>Przydzielona do naprawy</span>
                        </div>
                        <div th:if="${pd.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).PRICED}">
                            <i style="color: dodgerblue" class="fas fa-exclamation-circle"></i><span>Wyceniona</span>
                        </div>
                        <div th:if="${pd.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).ACCEPTED_BY_CUSTOMER}">
                            <i style="color: dodgerblue" class="fas fa-exclamation-circle"></i><span>W trakcie naprawy</span>
                        </div>
                    </div>
                </div>
                <a th:href="@{/customer/computerDamages/{path}(path=${pd.id})}" class="more_info_btn">
                    Więcej
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a th:href="@{/customer/acceptComputerDamage/{path}(path=${pd.id})}" class="more_info_btn">
                    Akceptuj
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a th:href="@{/customer/cancelComputerDamage/{path}(path=${pd.id})}" class="more_info_btn delete_btn">
                    Anuluj
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <hr>
        </div>

        <h1 th:if="${!damages.isEmpty()}"><span class="underline-span">Pozostałe</span></h1>
        <div th:each="d : ${damages}">
            <label class="error-label" th:if="${error != null and damage_id_error != null and damage_id_error == d.id}" th:text="${error}"></label>
            <div class="computer-box">
                <div class="computer-img">
                    <img th:if="${d.damagePhoto != null}" th:src="@{'data:image/png;base64,'+ ${d.generateBase64Image()}}" th:alt="${d.computer.brand} + ' ' + ${d.computer.model}" alt="" src="/no-photo-available.png">
                    <img th:if="${d.damagePhoto == null}" src="/no-photo-available.png" alt="">
                </div>
                <div class="computer-info">
                    <h6 th:text="${d.topic}"></h6>
                    <p th:text="${d.computer.brand} + ' ' + ${d.computer.model}"></p>
                    <div class="damage-status">
                        <div th:if="${d.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).REPORTED}">
                            <i class="fas fa-exclamation-circle"></i><span>Usterka zgłoszona</span>
                        </div>
                        <div th:if="${d.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).ASSIGNED_TO_REPAIRER}">
                            <i style="color: dodgerblue" class="fas fa-exclamation-circle"></i><span>Przydzielona do naprawy</span>
                        </div>
                        <div th:if="${d.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).PRICED}">
                            <i style="color: dodgerblue" class="fas fa-exclamation-circle"></i><span>Wyceniona</span>
                        </div>
                        <div th:if="${d.status == T(pl.wolskak.mycomputerservice.model.ComputerDamageStatus).ACCEPTED_BY_CUSTOMER}">
                            <i style="color: dodgerblue" class="fas fa-exclamation-circle"></i><span>W trakcie naprawy</span>
                        </div>
                    </div>
                </div>
                <a th:href="@{/customer/computerDamages/{path}(path=${d.id})}" class="more_info_btn">
                    Więcej
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a th:href="@{/customer/editComputerDamage/{path}(path=${d.id})}" class="more_info_btn edit_btn">
                    Edytuj
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a th:href="@{/customer/deleteComputerDamage/{path}(path=${d.id})}" class="more_info_btn delete_btn">
                    Usuń
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <hr>
        </div>
    </div>
</div>
</body>
</html>