<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zgłoś usterkę - My Auto Service</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<div th:insert="header"></div>
<div th:insert="sidebar"></div>

<div class="form-box">
    <label th:if="${computerDamageError}" th:text="${computerDamageError}"></label>
    <h1>Zgłoś usterkę</h1>
    <form th:action="@{/customer/reportComputerDamage}" th:object="${computerDamageForm}" method="post" enctype="multipart/form-data">
        <div th:insert="computer_damage_form" th:with="computerDamageForm=${computerDamageForm}, userComputers=${userComputers}"></div>
        <input type="submit" class="submit-btn" value="Zgłoś">
    </form>
</div>
</body>
</html>